h1, h4 {
    margin: 0px 7.5%;
    margin-top: 30px;
} h4.title {
    margin: 15px 0;
}h5 {
    margin: 0;
    font-size: 22px;
} div.section {
    border-radius: 25px;
    padding: 20px 30px;
    width: 82.5%;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    background-color: #b4d997;
    color: black;
    box-shadow: 5px 10px #4d9650;
    font-weight: bold;
} div.info {
    text-align: left;
} div.balance {
    text-align: right;
} div.column {
    display: grid;
    grid-template-columns: auto auto;
    width: 85%;
    margin: 25px auto;
    column-gap: 20px;
} div.one, div.two {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
} a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}