div.content {
    background-color: #fff;
    padding: 20px;
    margin: 35px 50px;
    box-shadow: 5px 10px #888888;
    column-gap: 0px;
} div.section {
    border-radius: 25px;
    padding: 20px 30px;
    width: 82.5%;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    box-shadow: 5px 10px #4d9650;
    background-color: #b4d997;
} div.info {
    text-align: left;
} div.balance {
    text-align: right;
} h5 {
    margin: 0;
    font-size: 22px;
} h1, h4 {
    margin: 0px 7.5%;
    margin-top: 30px;
} form {
    margin: 0 auto;
} div.input {
    width: 85%;
    background-color: #fff;
    border-radius: 5px;
    margin: 5px auto;
} div.input label {
    width: 40%;
    display: inline-block;
    padding: 30px 20px;
    font-weight: bold;
} div.input input {
    padding: 30px 20px;
    border: 0;
    width: 50%;
} select:focus, input:focus {
    outline: none;
} button.deposit {
    padding: 20px 40px;
    width: 25%;
    font-size: 18px;
    border-radius: 35px;
    border: 0;
    background-color: #2b4f3f;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin: 2.5% 0;
} button.deposit:hover {
    background-color: #27995C;
} select{
    padding: 0px 15px;
    opacity: 50%;
    font-size: 22px;
    width: 51.5%;
    border: 1px white solid;
    text-align: left;
} option:hover, option:checked, option:active, option:focus {
    background: linear-gradient(#ffffd4, #ffffd4);
    position: relative;    
}