div#twoRows {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fff;
    padding: 20px;
    margin: 35px 50px;
    box-shadow: 5px 10px #888888;
    column-gap: 0px;
} #twoRows .header {
    font-weight: bold;
    text-align: center;
    color: #41C21A;
} .donateMonthly {
    background-color: #006400;
    padding: 10px;
    margin: 7.5px;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    border: 0;
}p {
    padding: 10px;
    margin: 10px;
    text-align: center;
} h1, h3 {
    color:#006400;
    text-align: center;
} input {
    width: 90%;
} .donate-btn {
    width: 90%;
    padding: 8px 0px;
    border-radius: 35px;
    border: 0;
    background-color: #2b4f3f;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
} .total-donated {
    margin: 0;
    float: right;
    color: red;
    margin-right: 10%;
} .donate-btn:hover {
    background-color: #27995C;
} label {
    font-size: 24px;
    font-weight: bold;
    color: #41C21A;/*#006400*/
}