body {
    margin: 0px;
    font-size: 18px;
    background-color: #C7FFB0;
} #logo {
    width: 175px;
    height: 75px;
    margin: 10px;
} div#login, div#signup {
    margin: 0px;
} form.login, form.signup {
    margin: 0% 15%;
    width: 25%;
    float: left;
    color: #006400;
} label{
    font-size: 24px;
    color: #006400;
    font-weight:bold;
} input {
    /*border-radius: 5px;*/
    border: 0px;
    border-bottom: 2px solid #006400; /*#41C21A*/
    margin: 0px;
    background-color: transparent;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    outline: none;
} input#checkbox {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
} input[type="text"]::placeholder, input[type="password"]::placeholder {
    font-size: 18px;
    padding: 5px;
    opacity: 0.8;
} #forgot {
    font-size: 18px;
    color: #006400;
    float: right;
    text-decoration: none;
} #forgot:hover {
    color: #27995C;
} button#login, button#signup {
    padding: 5% 15%;
    font-size: 18px;
    border-radius: 35px;
    border: 0;
    background-color: #2b4f3f;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
} button#login:hover, button#signup:hover {
    background-color: #27995C;
    cursor: pointer;
} div#signup {
    font-size: 18px;
    color: #006400;
    text-decoration: none;
} #signup a {color: #006400;} #signup a:hover, #forgot:hover {color: #41C21A;}
a {
    text-decoration: none;
    color: #41C21A;
} select{
    padding: 0px 0px;
    margin-top: 10px;
    font-size: 22px;
    width: 101%;
    border: 1px #C7FFB0 solid;
    text-align: left;
    background-color: #C7FFB0;
    font-size: 18px;
    color: grey;
    border-bottom: 2px solid #006400;
} select:focus {
    outline: 0;
} 