div.grid {
    display: grid;
    grid-template-columns: 25% 75%;
} .setting-content{
    /*height: 50px;*/
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #ffffff;
} .setting-content h4{
    margin: 10px 30px;
} form {
    padding: 10px 20px;
} input, div.label{
    width: 40%;
    margin: 15px 20px;
} div.label{
    width: 20%;
    margin: 0 15px;
    margin-right: 0px;
    display: inline-block;
} h2 {
    padding: 10px 30px;
<<<<<<< Updated upstream
} input.update-btn, .clear {
    width: 15%;
    padding: 20px 0px;
=======
} .update-btn, .clear {
    width: 25%;
    padding: 20px 40px;
>>>>>>> Stashed changes
    font-size: 18px;
    border-radius: 35px;
    border: 0;
    background-color: #2b4f3f;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin: auto 2.5% auto auto;
} button:hover, input.update-btn:hover {
    background-color: #27995C;
}