/*Settings css start -Pineda*/
.setting-container{
    width: 1050px;
    height: 580px;
    background-color: #ffffff;
    padding: auto;
    font-family: 'Oswald',sans-serif;
    margin-left: 7%;
    font-size: 16px;
} .setting-content{
    width: 1000px;
    /*height: 50px;*/
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #ffffff;
    box-shadow: 5px 10px #888888;
} .setting-content strong{
    position: absolute;
    margin-left: 10px;
    padding-top: 3px;
} .setting-content h4{
    margin-top: 1px;
    margin-bottom: 10px;
} .setting-content p{
    padding-top: -5px;
    margin-top: -5px;
    margin-bottom: 5px;
} .setting-content input.smoller {
    transform: scale(1.5);
    margin: 0px;
    margin-left: 10px;
    margin-top: 10px;
} strong {
    font-size: 22px;
} p {
    margin-left: 10px;
    font-size: 18px;
    padding-top: 6px;
} a.deleteAccount {
    padding: 10px 20px;
    background-color:#D0342C;
    color: #fff;
    border-radius: 25px;
    font-weight: bolder;
    text-decoration: none;
} a {
    color: black;
    cursor: pointer;
    text-decoration: none;
} a:hover {
    font-size: 24px;
    color: #41C21A;
}