body {
    margin: 0px;
    font-size: 18px;
} div.body {
    margin: 0px;
    display: grid;
    grid-template-columns: 70% 30%;
} #logo {
    width: 175px;
    height: 75px;
    margin: 10px;
} .banner .logo {
    margin: 0px;
} .login {
    background-color: #41C21A;/*#41C21A*/
} input {
    border-radius: 5px;
    margin-top: 17px;
    border: 0px;
    background-color: #ffffff;
    width: 80%;
    height: 30px;
} input[type="text"]::placeholder, input[type="password"]::placeholder {
    font-size: 18px;
    padding: 5px;
    opacity: 0.8;
} div.notRobot {
    width: 50%;
    padding: 20px 0px;
    border-radius: 5px;
    margin-top: 30px;
    border: 1px grey solid;
    background-color: #ccd2cb;
    font-size: 20px;
}  input#checkbox {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
} input#login {
    margin: 5%;
    width: 40%;
    font-size: 18px;
    border-radius: 5px;
    background-color: #B0FF7A;
    border: 2px black solid; 
    font-weight: bold;
} button#signup {
    margin: 5%;
    width: 40%;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 0px;
    background-color: #ccd2cb;
    border: 1px grey solid; 
    font-weight: bold;
} a {
    text-decoration: none;
    color: black;
} p.terms {
    font-size: 14px;
    opacity: 0.9;
    padding: 15px;
} /*div.logo, div.sections, div.menu {
    margin: 0px;
    position: sticky;
    top: 0;
}*/ div.header {
    display: grid;
    grid-template-columns: 13.25% auto;
} div.sections {
    background-color: white;
    margin: 0px;
} .sections button {
    width: 180px;
    padding: 40px 0px; 
    margin: 0px;
    font-size: 20px;
    float: right;
} .sections button{
    background-color: transparent;
    border: 0;
    color: grey;
} .sections button:hover {
    background-color: #B0FF7A;
    font-weight: bold;
    color: black;
    cursor: pointer;
} div.logo {
    background-color: #B0FF7A;
    margin: 0;
} div.menu {
    background-color: #2B2F33;
    display: static;
} .menu button {
    display: block;
    width: 100%;
    background-color: transparent;
    color: #fff;
    text-align: left;
    float: right;
    padding: 10px 10px;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
} .menu button:hover {
    background-color: #000;
    font-weight: bold;
    color: #B0FF7A;
    cursor: pointer;
} div.body {
    background-color: lightgrey;
} #dp {
    height: 75px;
    width: 75px;
    margin: 10px;
    text-align: center;
    border-radius: 30%;
} hr {
    margin: 0px;
    height: 1.5;
} 
/*Start here for features*/

div.p {
  width: 260px;
  text-align: justify;
  padding: 10px;
  margin: 15px;
  background-color: green;
  height: 120px;
  text-align: justify;
  color: whitesmoke;
} 
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: center center;
  width: 30%;
  padding: 10px 0px;
  align:  right;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  align: right;
}
 .learn button {
    display: block;
    width: 100%;
    background-color: green;
    color: green;
    text-align: left;
    padding: 10px 10px;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
} .learn button:hover {
    background-color: green;
    font-weight: bold;
    color: green;
    cursor: pointer;
}
/*End of style for features*/

/*Start here for donation*/
.donation-body {
    display: flex;
    width: 100%;
    padding: 60px 50px;
    gap:  100px;
    box-sizing: border-box;
    cell-space: 100px;
}

.donation-left,
.donation-right {
    width: 50%;
}

.donation-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.donation-section h3 {
    margin: 10px;
    margin-bottom: 5px;
}

.donation-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.donation-section-content {
    height: 150px;
    width: 100%;
    background-color: green;
    border-radius:  15px;
}

.money button {
    margin: 100px;
    height: 100px;
    background-color: green; 
    border: 5px solid black;
    color: white;
    padding: 30px 45px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    float: left;
} 
/*end of style for donation*/









/* <--- DASHBOARD.PHP ---> */

.dashboard-body {
  display: flex;
  width: 100%;
  padding: 60px 50px;
  gap: 40px;
  box-sizing: border-box;
}

.dashboard-left,
.dashboard-right {
  width: 50%;
}

.dashboard-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.dashboard-section h5 {
  margin: 0;
  margin-bottom: 5px;
}

.dashboard-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-section-content {
  height: 150px;
  width: 100%;
  background-color: lightgreen;
  border-radius: 15px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}


.pay-bills-body {
  display: flex;
  flex-direction: column;
  padding: 60px 50px;
  gap: 40px;
  box-sizing: border-box;
  width: 100%;
}

.pay-bills-body h5 {
  margin: 0;
  margin-bottom: 5px;
}

.pay-bills-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pay-bills-option {
  background-color: lightgreen;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 0;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}


/*Settings css start -Pineda*/
.setting-container{
    width: 1050px;
    height: 580px;
    background-color: #ffffff;
    padding: auto;
    font-family: 'Oswald',sans-serif;
    margin-left: 7%;
    font-size: 16px;
}

.setting-content{
  width: 1000px;
  height: 50px;
  margin: 0 auto;
}

.setting-content strong{
    position: absolute;
    margin-left: -380px;
    padding-top: 3px;

}

.setting-content h4{
    margin-top: 1px;
    margin-bottom: 10px;
}

.setting-content p{
    padding-top: -5px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.setting-content input.smoller {
        transform: scale(.5);
        margin: 0px;
        margin-left: -390px;
}


/*Settings css end*/


/*about css start -Pineda*/

.about-container{
    width: 1000px;
    height: 650px;
    border: 1px black;
    background-color: white;
    padding: auto;
    float: center;
    margin-left: 10%;
    font-family: 'Oswald',sans-serif;
}

.about{
    float: center;
    height: 80px;
    width: 400px;
    background-color: #a0d979;
    border-radius: 20px;
    font-family: 'Oswald',sans-serif;
    margin-left: 50px;
}

.about h2{
    padding-top: 20px;
}

.about p{
    margin-left: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.leftfloat{
    float: left;
    width: 50%;
}

.rightfloat{
    float: right;
    width: 50%;
}

.contact{
    width: 450px;
    height: 350px;
    background-color: lightgray;
    font-family: 'Oswald',sans-serif;
    margin-left: 20px;
}

.contact2{
    width: 400px;
    height: 100px;
    background-color: #ffffff;
    font-family: 'Oswald',sans-serif;
    margin: 0 auto;
}

.contact3{
    width: 400px;
    height: 120px;
    background-color: #ffffff;
    margin: 0 auto;
}
/*about css end*/